%buttons {

    font-family: 'Product Sans';
    font-weight: 400;
    font-style: normal;
}
.headerz{
    text-align: right;
    a{
        font-size: xx-large;
        font-family: 'Product Sans';
        font-weight: 100;
        font-style: normal;
        color: grey;
    
        a:hover{
            color: pink;
        }
        a:visited{
            color: green;
        }
    }}
.sub{
    @extend %buttons;
    background-color: lightgrey;
    color: grey;
}
