%buttons {

    font-family: 'Product Sans';
    font-weight: 400;
    font-style: normal;
}

.header{
    text-align: right;
    font-family: 'Product Sans';
    font-weight: 100;
    font-style: normal;
}

.sub{
    @extend %buttons;
    background-color: lightgrey;
    color: grey;
}